.label {
  position: relative;
  display: flex;
  align-items: center;
}

.bigCircle {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  border: 1px solid var(--green-color);
  background-color: transparent;
  transition: background-color (--transition-duration) ease-in-out;
}

.bigCircle.error {
  background-color: var(--red-color);
  border-color: var(--red-color);
}

.bigCircle.checked {
  background-color: var(--green-color);
  border-color: var(--green-color);
}

.icon {
  opacity: 0;
  transition: opacity (--transition-duration) ease-in-out;
}

.icon.checked {
  opacity: 1;
}

.input {
  position: absolute;
  opacity: 0;
}
