@import "../../static/sass/mixins.scss";

.labelWrapper {
  position: relative;
  display: flex;
}

.phoneLabel {
  @include inputStyle();
  transition: padding var(--transition-duration) ease-in-out;
}

.phoneLabel.inputFilled {
  @include inputFilled();
}

.iconWrapper {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.fakePlaceholder {
  @include fakePlaceHolder();
}

.fakePlaceholder.focus {
  @include placeHolderFocus();
}

.errorMessage {
  @include errorMessage();
}
